body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
}

.sidebar {
    width: 250px;
    background-color: #2c3e50;
    padding: 15px;
    color: white;
}

    .sidebar h2 {
        margin-top: 0;
    }

    .sidebar ul {
        list-style-type: none;
        padding: 0;
    }

    .sidebar li {
        padding: 10px;
        border-bottom: 1px solid #34495e;
    }

.main-content {
    flex-grow: 1;
    background-color: #ecf0f1;
    padding: 15px;
}

    .main-content h2 {
        margin-top: 0;
    }

.stream-thumbnails {
    display: flex;
    gap: 15px;
}

.thumbnail {
    width: 350px;
    height: 200px;
    background-color: #bdc3c7;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #2c3e50;
}
